.chat-container {
	width: 100%;
	height: 100%;
	margin: 1em auto;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;

	.conversation-container {
		flex: 1;
		overflow-y: auto;

		.conversation-inner {
			width: calc(100% - 20px);
			display: flex;
			flex-direction: column;
			overflow-x: hidden;
			padding: 0 10px;
			.message {
				width: calc(100% - 20px);
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				overflow-x: hidden;
				margin-bottom: 0.5em;
				.sender {
					font-size: 0.75em;
				}
				.contents {
					max-width: 75%;
					background-color: #777;
					padding: 0.5em;
					border-radius: 5px 5px 5px 0;
				}
			}
			.message.from-me {
				align-items: flex-end;
				.contents {
					background-color: #5471ff;
					border-radius: 5px 5px 0 5px;
				}
			}
			.message.from-me.pending .contents {
				background-color: white;
				color: black;
			}
		}
	}
}
