.message-send-container {
	display: flex;
	flex-direction: row;

	button {
		background-color: #33f;
		color: white;
	}

	.name-button {
		border-radius: 5px 0 0 5px;
	}

	.message-input {
		flex: 1;
		font-size: 1.2em;
		padding-left: 0.5em;
	}

	.send-button {
		border-radius: 0 5px 5px 0;
	}
}
