.name-form {
	display: flex;
	flex-direction: column;
	margin: auto;
	* {
		margin: auto;
	}
	input {
		height: 2em;
		font-size: 1.5em;
		width: 100%;
		margin-bottom: 0.5em;
	}
	button {
		width: 100%;
		border-radius: 5px;
		color: white;
		background-color: #22f;
	}
}
